{% extends 'base.html' %} {% block content %}

{% comment %} {% for i in list %}

    <h6>{{i.name}}</h6>
    <p>{{i.item}}</p>
    <p>{{i.quantity}}</p> {% endcomment %}


    <style>
      
      .btn btn-primary btn-lg{
        font-size: large;
      }
      table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    table{
    margin-top: 20px;
    width:max-content;
    height: 150 px;
    }
    table{
            border-collapse: collapse;
            width: 90%;
            position: center;
            margin-left: auto;
            margin-right: auto;
        }

        th,td{
            padding: 15px;
            text-align: left;
        }

    </style>
</head>
<body>
    
      <table class="table table-bordered border-primary">
        
        <thead>
          <tr>
            <th scope="col">Name Of Customer</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Respond</th>
          </tr>
        </thead>
        <tbody>
            {% for i in list %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.item}}</td>
            <td>{{i.quantity}}</td>
            <td><div id="ap"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Respond
    </button></div></td>
          </tr>
        
    



    <!-- Button trigger modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/{{i.id}}/sendResponse" method="post">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value={{i.price}} class="form-control" id="price" name="price" />
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
    {% comment %} {%empty%}
        <h2>Nothing to show</h2> {% endcomment %}

{% endfor %}
</tbody>
      </table>

 {% endblock content %}
