<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
<style>
  #io {
    margin-top: 20px;
  }
  ul.nav {
    margin: 0;
    padding: 1px;
    list-style: none;
    height: 50px;
    line-height: 50px;
    background: #0d7963; /* you can change the backgorund color here. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  ul.nav li {
    border-right: 1px solid #189b80; /* you can change the border color matching to your background color */
    float: left;
  }
  ul.nav a {
    display: block;
    padding: 0 28px;
    color: #ccece6;
    text-decoration: none;
  }
  ul.nav a:hover,
  ul.nav li.current a {
    background: #086754;
  }
  .mb-3 {
    margin: 10px;
  }
  #ut {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: larger;
  }
  .container-fluid my-4 shadow {
    background-image: none;
  }
</style>

<body>
  <ul class="nav">
    <li id="ut">Shopify</li>
    <li><a href="/shopkeeperHome">Home</a></li>
    <li><a href="/shopkeeperLogout">Logout</a></li>
    <li>
      <a href="/receivedRequests">Requests</a>
    </li>

    <li>
      <a href="/returnRequests">Return requests</a>
    </li>
    <li>
      <a href="/records">Records</a>
    </li>
  </ul>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight">
  Add items
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Add items to your shop</h5>
  </div>
  <div class="offcanvas-body">
    <form action="/addItems" method="post">
      {%csrf_token%}
      <div class="mb-3">
        <label for="item" class="form-label">Item name</label>
        <input type="text" class="form-control" id="item" name="item" />
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" />
      </div>
      <button type="submit" type="button" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>


<!-- {% for re in res %}

  <h5>Item: {{re.item}}</h5>
  <p>Quantitiy: {{re.quantity}}</p>
  <p>Price: {{re.price}}</p>
{% endfor %} -->
<div class="row row-cols-1 row-cols-md-5 g-4">
  {% for re in res %}
  <div class="col">
    <div class="card h-100">
      <!-- <img src="" class="card-img-top" alt="..." -->
      <hr style="margin: 0px">
      <div class="card-body" style="padding: 10px">
        <h5 class="nameOfItem">{{ re.item }}</h5>
        <p style="margin-bottom: 10px">Quantity : {{ re.quantity }}</p>
        <p style="margin-bottom: 10px">Price : &#x20B9; {{ re.price }}</p>
        <div>
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight_{{ re.pk }}" aria-controls="offcanvasRight"
            style="box-shadow: none; padding: 8px; float: left">Update
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop_{{ re.pk }}"
            style="box-shadow: none; padding: 8px; float: right; background-color: rgb(72, 129, 91);">
            Delete
          </button>
        </div>
      {# Update OffCanvas From Here #}
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight_{{ re.pk }}"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header" style="background-color: #e3f2fd">
          <h5 id="offcanvasRightLabel">Update Item : {{ re.item }}</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form action="/updateItem" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <input type="hidden" class="form-control" id="ItemId" name="ItemId" value={{ re.pk }}>
            </div>
            <div class="mb-3">
              <label for="NewQty" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="NewQty" name="NewQty" placeholder="Enter new Quantity" value={{
                re.quantity }}>
            </div>
            <div class="mb-3">
              <label for="NewPrice" class="form-label">Price</label>
              <input type="number" step="0.01" class="form-control" id="NewPrice" name="NewPrice"
                placeholder="Enter new Price" value={{ re.price }}>
            </div>
            <div class="mb-3">
              <label for="NewImage" class="form-label">Image Link</label>
              <input type="url" class="form-control" id="NewImage" name="NewImage" placeholder="Give new Image Link"
                value="https://www.blank.com/">
            </div>
            <button type="submit" class="btn btn-success" style="background-color: rgb(113, 113, 255); box-shadow: none">Save
            </button>
          </form>
        </div>
      </div>
      
      <!-- Delete Modal From Here -->
      <div class="modal fade" id="staticBackdrop_{{ re.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e3f2fd">
              <h5 class="modal-title" id="staticBackdropLabel">Delete Item
                :{{ re.item }} </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{re.id}}/deleteItem" method="post">
                {% csrf_token %}
                <p>Do you want to delete Item : {{ re.item }} from your item list
                  ?</p>
                <input type="hidden" class="form-control" id="ItemId" name="ItemId" value={{ re.pk }}>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="box-shadow: none">
                    No
                  </button>
                  <button type="submit" class="btn btn-success"
                    style="background-color: rgb(113, 113, 255); box-shadow: none">
                    Yes,
                    I Confirm
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      {% endfor %}
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
