{% extends 'base.html' %}

{% block content %}

<style>
      
      .btn btn-primary btn-lg{
        font-size: large;
      }
      table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    table{
    margin-top: 20px;
    width:max-content;
    height: 150 px;
    }
    table{
            border-collapse: collapse;
            width: 90%;
            position: center;
            margin-left: auto;
            margin-right: auto;
        }

        th,td{
            padding: 15px;
            text-align: left;
        }

    </style>
</head>
<body>
    
      <table class="table table-bordered border-primary">
        
        <thead>
          <tr>
            <th scope="col">Name Of Customer</th>
            <th scope="col">Review</th>
          </tr>
        </thead>
        <tbody>
        {% for com in comments %}
          <tr>
            <td>{{com.name}}</td>
            <td>{{com.comment}}</td>
          </tr>



    {% comment %} {% for com in comments %}
    
        <h6>{{com.name}}</h6>
        <p>{{com.comment}}</p>
    {%empty%}
        <h2>Nothing to show</h2> {% endcomment %}
    {% endfor %}

{% endblock content %}



