{% extends 'base.html' %}

{% block content %}


<style>
      
      .btn btn-primary btn-lg{
        font-size: large;
      }
      table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    table{
    margin-top: 20px;
    width:max-content;
    height: 150 px;
    }
    table{
            border-collapse: collapse;
            width: 90%;
            position: center;
            margin-left: auto;
            margin-right: auto;
        }

        th,td{
            padding: 15px;
            text-align: left;
        }

    </style>
</head>
<body>
    
      <table class="table table-bordered border-primary">
        
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
           {% for re in res %}
    
        <h6>{{re.item}}</h6>
        <p>{{re.quantity}}</p>
        <p>{{re.type}}</p>
          </tr>
        


    {% comment %} {% for re in res %}
    
        <h6>Item: {{re.item}}</h6>
        <p>Quantity: {{re.quantity}}</p>
        <p>Type: {{re.type}}</p> {% endcomment %}
    {%empty%}
        <h2>Nothing to show</h2>
    {% endfor %}

{% endblock content %}